body{
    font-family: Arial, Helvetica, sans-serif;

    background-image: url('/img/fullsize/fondo-index.jpg');
    color: whitesmoke; 
}

.menu{
    margin: 10px;
    padding: 10px;
    background-color: lightgrey;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    justify-content: space-around;
}
.cartas{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
h1{
    text-align: center;
    color: goldenrod;
}
.texto{
    display: flex;
    gap: 20px;
}
.contenido{
    border-left: 5px solid goldenrod;
    padding-left: 15px;
}

